{
  "root": true,
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "react/jsx-sort-props": [
      "error",
      {
        "ignoreCase": true,
        "callbacksLast": true,
        "shorthandFirst": false,
        "shorthandLast": true,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "tabWidth": 4,
        "quoteProps": "consistent",
        "proseWrap": "never",
        "htmlWhitespaceSensitivity": "strict",
        "endOfLine": "lf"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "import/extensions": [
      "error",
      {
        "jsx": "never",
        "js": "never",
        "css": "always"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}