.bullet { 
    position: relative;
    top: 0.35em;
    margin-right: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.disabled {
    cursor: default
}

.active {
    transform: rotate(90deg)
}