.container {
    display: flex;
}

.menu {
    width: 216px;
    height: 100vh;
    overflow-y: auto;
    margin: 0 32px 0 0;
    padding-inline-start: 0;
    padding: 24px 0 0;
    background-color: white;
}

