.listItem {
    display: flex;
    padding: 8px 32px;
    transition: background-color 0.5s ease;
}

.listItem:hover{
    background-color: #F4F4F4
}

.activeOutline {
    background-color: #F4F4F4;
    transition: background-color 0.5s ease;
}

.activeOutline:hover{
    background-color: #E9E9E9
}

.activePageButton {
    font-weight: 600
}

.disabled a{
    color: #B0B0B2;
    cursor: default;
}

.disabled div{
    border-color: transparent #B0B0B2;
    cursor: default;
}

.fadeIn {
    animation: fadeIn 2s;
}

.fadeOut {
    animation: fadeOut 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}