.listItem {
    display: flex;
    padding: 8px 32px;
    transition: background-color 0.5s ease;
}

.listItem:hover{
    background-color: #E9E9E9
}

.withoutBullet {
    padding-left: 44px;
}

.headerAndAnchors{
    padding-left: 0;
}

.childPages{
    padding-left: 16px;
}

.activeOutline {
    background-color: #F4F4F4
}

.activePageButton {
    font-weight: 600
}